<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="EditTransportationCompanyController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
    <div class="col">
        <span us-spinner spinner-on="vm.showSpinner"></span>
        <!-- main header -->
        <!-- <div class="bg-light lter b-b wrapper-md" ng-hide="isRoleAdmin">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{vm.title}}</h1>
                    <small class="text-muted">HNA EcoTech Internet of Things</small>
                </div>
               
            </div>
        </div> -->

        <!-- tasks -->



        <div class="panel panel-default m-l m-r m-t" >

            <div class="panel-heading">
                <h3 class="panel-title">公司信息</h3>
            </div>
            <br/>
            <form name="form" class="form-horizontal form-validation" role="form" >


                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">企业名称</label>
                        <div class="col-sm-4">
                            <input  class="form-control" type="text"
                                   placeholder="公司名称" name="enterprise_name" ng-model="vm.user.enterprise_name"  ng-disabled="vm.isDetail"  required>
                        </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_name.$invalid">请输入企业名称</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>




                <div ng-if="!vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">押金状态</label>
                    <div class="col-sm-4">

                        <label style="position: relative;top:4px;" ng-class="vm.labelColor[vm.user.status]" ng-bind="vm.labelContent[vm.user.status]" class="label"></label>


                        <label ng-class="vm.labelColor[vm.user.enterprise_deposit_status]" ng-bind="vm.labelContent[vm.user.enterprise_deposit_status
]" class="label"></label>
                    </div>
                </div>
                <div ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>

                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">联系电话</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="联系电话" ng-model="vm.user.enterprise_tele" name="enterprise_tele" ng-disabled="vm.isDetail" ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/" required>
                    </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_tele.$invalid">请输入合法的联系电话</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>




                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">营业执照</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="营业执照序号" ng-model="vm.user.enterprise_license_id" name="enterprise_license_id" ng-disabled="vm.isDetail" required>
                    </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_license_id.$invalid">请输入营业执照序号</i></span>

                </div>
                <div  class="line line-dashed b-b line-lg"></div>







                <div class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">图片</label>
                    <div class="col-sm-4">
                        <div class="beauty-upload">
                            <div class="lcell span5" style="margin:5px 0px;">
                                <div class="upload">
                                    <input type="button" class="btn btn-default" value="浏览文件" ng-disabled="vm.isDetail" />
                                    <label  ng-bind="vm.myUploadFile.viewName" class="label bg-finished"></label>
                                    <input type="file" file-model = "vm.myUploadFile" class="upload-input-file" accept="image/*" ng-disabled="vm.isDetail" />
                                </div>
                                <button type="button" class="btn btn-default btn-upload" ng-click="vm.uploadFile()" ng-disabled="vm.isDetail || (vm.myUploadFile == null)" > <i class="fa fa-check"></i> 上传 </button>

                            </div>

                        </div>
                        <input class="form-control" type="url" style="margin-bottom:10px;"
                               placeholder="例如：http://www.abc.com/a.png" ng-model="vm.user.enterprise_license_id_url" name="enterprise_license_id_url" ng-disabled="vm.isDetail" required>

                        <div class="img-preview">
                            <img ng-src="{{vm.user.enterprise_license_id_url}}" alt="">
                        </div>
                    </div>
                    <span class="blank-tips pic-blank-tips" ><i>* </i><i ng-show="form.enterprise_license_id_url.$invalid">请输入合法的头像路径</i></span>


                </div>
                <div  class="line line-dashed b-b line-lg"></div>










                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">企业法人</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="企业法人" ng-model="vm.user.enterprise_legal_rep_name" name="enterprise_legal_rep_name" ng-disabled="vm.isDetail" required>
                    </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_legal_rep_name.$invalid">请输入企业法人</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>



                <div  class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">企业押金</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="number" min="0"
                               placeholder="企业押金" ng-model="vm.user.enterprise_deposit" name="enterprise_deposit"  ng-disabled="vm.isDetail" maxlength=10  required>
                    </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_deposit.$invalid">请输入押金数额</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>


                <div class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">企业邮箱</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="email"
                               placeholder="例如：test@example.com" ng-model="vm.user.enterprise_email" name="enterprise_email"  ng-disabled="vm.isDetail" required>
                    </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_email.$invalid">请输入合法的企业邮箱</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>




                <div class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">企业网址</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="url"
                               placeholder="例如：http://www.abc.com" ng-model="vm.user.enterprise_homepage_url" name = "enterprise_homepage_url" ng-disabled="vm.isDetail" required>
                    </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_homepage_url.$invalid">请输入合法的企业网址</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>

                <div class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">企业地址</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="企业地址" ng-model="vm.user.enterprise_address" name="enterprise_address"  ng-disabled="vm.isDetail" required>
                    </div>
                    <span class="blank-tips" ><i>* </i><i ng-show="form.enterprise_address.$invalid">请输入企业地址</i></span>
                </div>
                <div  class="line line-dashed b-b line-lg"></div>





                <!--<div ng-if="vm.isAdd" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">{{'u.PASSWORD' | translate}}</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password"
                               placeholder="{{'u.PASSWORD' | translate}}" ng-model="vm.addUser.password" ng-pattern="/^[a-zA-Z0-9_\\-]{8,20}$/" required>
                    </div>
                    <span><i style="color:red;font-size:20px;">* </i><i style="font-style:normal; color:#999;">{{'tenant.PASSWORDTIP' | translate}}</i></span>
                </div>
                <div ng-if="vm.isAdd" class="line line-dashed b-b line-lg"></div>-->









                <div ng-if="vm.isDetail" class="form-group">
                    <label class="col-sm-1 control-label m-l-lg font-bold">创建日期</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text"
                               placeholder="创建日期" ng-model="vm.user.register_time" ng-disabled="vm.isDetail" >
                    </div>

                </div>
                <div ng-if="vm.isDetail" class="line line-dashed b-b line-lg"></div>






                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3">
                        <button ng-if="!vm.isDetail" type="button" class="btn btn-default btn-sm m-l-lg btn-addon bg-light" ng-click="vm.backAction()" > <i class="fa fa-ban text-danger"></i>取消 </button>
                        <button ng-if="!vm.isDetail" class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.submitAction()" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>确认 </button>
                        <button ng-if="vm.isDetail" ng-click="vm.backAction()" class="btn m-b-xs btn-sm btn-info btn-addon pull-left"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>

                    </div>
                </div>






            </form>
        </div>
    </div>
</div>

