<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ConfigController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->

    <div class="tab-platform">
        <span us-spinner spinner-on="vm.showSpinner"></span>

        <div class="config">

            <ul>
                <li ng-repeat="tab in vm.tabItem">
                    <a href ng-click="vm.sel(tab.id)" ng-class="{'tab-active':tab.active}">{{tab.title}}</a>
                </li>

            </ul>


            <div class="tab-container">

                <div class="plat-mgr" ng-show="vm.tabItem[0].active">

                        <div class="panel panel-default m-l m-r ">
                            <br/>
                            <div  class="form-group">
                                <div class="zone-title">费率设置</div>
                            </div>
                            <form name="form" class="form-horizontal form-validation" role="form" ng-repeat="item in vm.containerItems">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label m-l-lg font-bold">{{item.box_type_name}}</label>
                                            <input class="form-control input-edit" type="number" min="0" step="1" ng-pattern="/^[1-9][0-9]{0,5}$/"
                                                   placeholder="费率" ng-model="item.price" ng-disabled="!item.isEdit" required>
                                            <span>元/小时</span>
                                        <button ng-disabled="!item.isEdit" class="btn btn-cancel" ng-click="vm.cancel(item)"> 取消 </button>
                                        <button class="btn btn-edit" type="submit" ng-click="vm.edit(item)" ng-disabled='form.$invalid'> {{item.editTitle}}</button>
                                    </div>
                            </form>
                        </div>
                </div>


                <div class="plat-mgr" ng-show="vm.tabItem[1].active">

                    <div class="panel panel-default m-l m-r ">
                        <br/>
                        <div  class="form-group">
                            <div class="zone-title">参数设置</div>
                        </div>
                        <form name="form" class="form-horizontal form-validation" role="form" ng-repeat="item in vm.userParam">
                            <div class="form-group">
                                <label class="col-sm-2 control-label m-l-lg font-bold">{{vm.paramDesc [item.param_key]}}</label>
                                <input class="form-control input-edit" type="text"
                                       placeholder="版本" ng-model="item.param_value" ng-disabled="!item.isEdit" required>

                                <button ng-disabled="!item.isEdit" class="btn btn-cancel" ng-click="vm.cancel(item)"> 取消 </button>
                                <button class="btn btn-edit" type="submit" ng-click="vm.edit(item)" ng-disabled='form.$invalid'> {{item.editTitle}}</button>
                            </div>

                        </form>

                    </div>

                </div>


            </div>
        </div>

    </div>



</div>

