<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="wrapper-md bg-dashboard">

<!--            <div class="row ds-map">
                <div id="dashboard_map" class="embeded_mapview"></div>
            </div>-->
            <div class="row ">
                    <div class="col-md-12">
                        <a ui-sref="app.transportation_company">
                        <div class="ds-total bg-company">
                            <div class="ds-title">
                                <span>运输公司</span>
                            </div>
                            <div class="ds-num">
                                <span>总数 3445</span>
                            </div>

                        </div>
                            </a>
                    </div>
            </div>




            <div class="row ">
                <div class="col-md-12">
                    <a ui-sref="app.warehouse">
                    <div class="ds-total bg-container-zone">
                        <div class="ds-title">
                            <span>仓库</span>
                        </div>
                        <div class="ds-num">
                            <span>总数 562</span>
                        </div>

                    </div>
                    </a>
                </div>
            </div>


            <div class="row ">
                <div class="col-md-12">
                    <a ui-sref="app.boxbasic">
                        <div class="ds-total bg-container">
                            <div class="ds-title">
                                <span>云箱</span>
                            </div>
                            <div class="ds-num">
                                <span>在运总数 392,037</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>









        </div>
    </div>
</div>

