<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;app.settings.dashboard=true" style="background-color: transparent;">


        <div class="dashboard bg-dashboard" style="background-color: transparent;">
            <div class="row " style="background-color: transparent;">
                    <div class="col-md-12">
                        <a ui-sref="app.transportation_company">
                        <div class="ds-total bg-company">
                            <div class="ds-title">
                                <span>运输公司</span>
                            </div>
                            <div class="ds-num">
                                <span>总数 {{vm.statsInfo.enterprise_count}}</span>
                            </div>

                        </div>
                            </a>
                    </div>
            </div>




            <div class="row ">
                <div class="col-md-12">
                    <a ui-sref="app.warehouse">
                    <div class="ds-total bg-container-zone">
                        <div class="ds-title">
                            <span>仓库</span>
                        </div>
                        <div class="ds-num">
                            <span>总数 {{vm.statsInfo.site_count}}</span>
                        </div>

                    </div>
                    </a>
                </div>
            </div>


            <div class="row ">
                <div class="col-md-12">
                    <a ui-sref="app.boxbasic">
                        <div class="ds-total bg-container">
                            <div class="ds-title">
                                <span>云箱</span>
                            </div>
                            <div class="ds-num">
                                <span>在运总数 {{vm.statsInfo.box_count}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



        </div>

</div>

