<div class="container login-bg w-xxl w-auto-xs" ng-app="iot" ng-init="app.settings.container = false; ">


    <div class="form-boxdd" ng-controller="SigninController as vm">
    <!--<div class="header">-->
        <!--<img class="img-responsive" src="images/bird.png">-->
    <!--</div>-->


        <div class="login-range">
        <div class = "login-all">


            <div class="login-right">

                <div class="title">
                    登录
                </div>
       <!-- <div class="header" style="box-shadow: none;">
            <div style="height: 90px; width: 90px;display: inline;"><img style="height: 90px;width: 90px;" src="images/logo.png"></div>
        </div>-->

        <form role="form" name="form">
            <div class="body bg-gray">
                <div class="text-center text-danger" ng-show="vm.authError">
                    &lt;!&ndash;<h5>登录失败（{{vm.authError}})</h5>&ndash;&gt;
                </div>

                <div class="form-group">
                    <label class="name-label" >用户名</label>


                        <input class="input-user" ng-disabled="vm.isLogining" id="username" name="username" type="text"
                               placeholder=""
                               ng-model="vm.user.username" required>

                </div>

                <div class="form-group">
                    <label class="password-label" >密码</label>

                        <input ng-disabled="vm.isLogining" id="password" name="password" type="password" class="input-password"
                               placeholder="" ng-model="vm.user.password" required>

                </div>

                <div class="form-group">
                    <button ng-click="vm.login()" type="submit" class="login-button" ng-disabled='form.$invalid || vm.user.password==null||vm.user.password=="" || vm.user.username==null||vm.user.username==""'>
                        登录
                    </button>
                </div>



            </div>

            <div class="footer">
                <div class="margin text-center">

                </div>
            </div>
        </form>



            </div>


        </div>

</div>

    </div>

</div>