<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxBasicController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;app.settings.dashboard=false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <modal-dialog show='transDetail' width='900px'>
            <div class="m-l m-r panel panel-default">
                <table  st-table="vm.containerTransDetail" st-safe-src="vm.containerTransDetail" class="table table-bordered table-striped table-hover bg-white text-center">
                    <thead>
                    <tr class="font-bold">
                        <!-- <th class="text-center">{{'login.USERNAME' | T}}</th>-->
                        <th class="text-center">时间</th>
                        <th class="text-center">总转入</th>
                        <th class="text-center">总转出</th>
                        <th class="text-center">冷藏箱转入</th>
                        <th class="text-center">冷藏箱转出</th>
                        <th class="text-center">冷冻箱转入</th>
                        <th class="text-center">冷冻箱转出</th>
                        <th class="text-center">医药箱转入</th>
                        <th class="text-center">医药箱转出</th>
                        <th class="text-center">普通箱转入</th>
                        <th class="text-center">普通箱转出</th>
                        <!-- <th class="text-center">{{'u.OPERATE' | T}}</th>-->
                    </tr>

                    </thead>
                    <tbody class="">

                    <tr ng-repeat="item in vm.containerTransDetail">
                        <td ng-click="vm.goDetail(item)">{{item.date}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.inputAll}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.outputAll}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.inputFreezer}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.outputFreezer}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.inputCooler}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.outputCooler}}</td>

                        <td ng-click="vm.goDetail(item)">{{item.inputMedical}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.outputMedical}}</td>

                        <td ng-click="vm.goDetail(item)">{{item.inputOrdinary}}</td>
                        <td ng-click="vm.goDetail(item)">{{item.outputOrdinary}}</td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <div data-ng-include=" 'app/main/blocks/pageflip.html' " >
            </div>
        </modal-dialog>



            <div class="container-head">
                <div class="left-info">
                    <div class="title inline">云箱管理</div>
                    <div  class="view-type inline" ><a href ng-class="vm.selectedStyle[vm.isViewList]" ng-click="vm.selList(true)"><i class="fa fa-list icon-m-r"/>列表展示</a></div>
                    <div  class="view-type inline"><a href ng-class="vm.selectedStyle[!vm.isViewList]" ng-click="vm.selList(false)"><i class="fa fa-th icon-m-r" />方格展示</a></div>
                </div>
                <div class="right-search">

                <div class="search-select-province inline">
                        <select class="search-select-list-province" ng-model="vm.searchProvince" ng-change="vm.updateCityList(0)" ng-options="opt.province_id as opt.province_name for opt in vm.provinceInfo" ng-disabled="!vm.isProvinceEnable" ></select>
                </div>
                <div class="search-select-city inline">
                    <select class="search-select-list-city" ng-model="vm.searchCity" value="选择市" ng-change="vm.updateWarehouseList(0)" ng-options="opt.id as opt.city_name for opt in vm.cityInfo" ng-disabled="!vm.isCityEnable" >

                    </select>
                </div>
                <div class="search-select-warehouse inline">
                    <select class="search-select-list-warehouse" ng-model="vm.searchWarehouse"  ng-options="opt.id as opt.name for opt in vm.warehouseInfo" ng-disabled="!vm.isWarehouseEnable" ></select>
                </div>
                    <button class="search-icon" ng-click="vm.goResetSearch()">
                        <i class="fa fa-search"></i>
                    </button>
                <input st-search="" ng-model="vm.searchContainerId" ng-keyup="vm.enterEvent($event)"  class=" search-edit search-input font-thin" placeholder="请输入云箱编号" type="text"/>
                <!--<button ng-click="vm.goSearch()" class=" search-button"><i class="fa fa-search" />搜索</button>-->

                </div>
            </div>

        <div ng-if="vm.showEmpty && !vm.showMainSpinner" class="user-empty">
            <span>{{vm.showEmptyInfo}}</span>
        </div>

        <div ng-if="vm.showMainSpinner" class="user-wait" />




        <div ng-if="vm.isViewList && !vm.showEmpty">
                <div class=" bb-table m-l m-r m-t panel panel-default" >
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <th>云箱ID</th>
                            <th>RFID</th>
                            <th>型号</th>

                            <!--<th>生产地</th>
                            <th>生产厂家</th>
                            <th>生产日期</th>
                            <th>电源信息</th>-->
                            <th>状态</th>
                            <th>所在仓库</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.items track by $index">
                            <td style="vertical-align: middle;">{{item.deviceid}}</td>
                            <td style="vertical-align: middle;">{{item.tid}}</td>
                            <td style="vertical-align: middle;">{{item.type.box_type_name}}</td>
                            <!--<td style="vertical-align: middle;">{{item.produce_area}}</td>
                            <td style="vertical-align: middle;">{{item.manufacturer}}</td>
                            <td style="vertical-align: middle;">{{item.date_of_production | date:"yyyy-MM-dd"}}</td>
                            <td style="vertical-align: middle;">{{item.battery}}</td>-->
                            <td style="vertical-align: middle;">{{vm.containerStatusSpec[item.curStatus]}}</td>
                            <td style="vertical-align: middle;" title="{{item.siteinfo.name}}">{{item.siteinfo.name.length > 10 ? item.siteinfo.name.substr(0,10)+'...':item.siteinfo.name}}</td>
                            <td style="vertical-align: middle;">
                                <span class="bb-edit-btn" ng-click="vm.goDetail(item)">详情</span>
<!--
                                <span class="bb-del-btn"  ng-click="transportDetail(item)">运输明细</span>
-->
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        <div ng-if="!vm.isViewList && !vm.showEmpty">
            <div class="panel panel-default" style="padding-left:20px;">
                <div class="container-grid inline" ng-class="'container-grid-bg-'+$index" ng-click="vm.goDetail(item)" ng-repeat="item in vm.items">
                    <div class="title">ID {{item.deviceid.length > 16 ? item.deviceid.substr(item.deviceid.length-16,16) : item.deviceid}}</div>
                    <div ng-class="'container-label-'+(item.type.id%3+1)"></div>
                    <div class="type">{{item.type.box_type_name}}</div>

                    <div class="status" ng-class="'status-bg-color-'+item.curStatus"><span>{{vm.containerStatusSpec[item.curStatus]}}</span></div>
                    <div class="rfid">RFID {{item.tid.length > 16 ? item.tid.substr(0,16)+'...' : item.tid}}</div>
                    <div class="location">{{item.siteinfo.name.length > 10 ? item.siteinfo.name.substr(0,10)+'...':item.siteinfo.name}}</div>

                </div>
            </div>


        </div>

        <div data-ng-include=" 'app/main/blocks/pageflip.html' " >
        </div>






    </div>

</div>

