<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="WarehouseController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">


    <div class="warehouse-head"><a href ng-click="vm.sel(tab.id)" ng-class="{'tab-active':tab.active}">{{tab.title}}</a>
        <div class="title inline">仓库管理</div>
        <div  class="view-type inline" ><a href ng-class="vm.selectedStyle[vm.isViewList]" ng-click="vm.selList(true)"><i class="fa fa-list icon-m-r"/>列表展示</a></div>
        <div  class="view-type inline"><a href ng-class="vm.selectedStyle[!vm.isViewList]" ng-click="vm.selList(false)"><i class="fa fa-th icon-m-r" />方格展示</a></div>
        <input st-search="" class="pull-right search-edit search-input font-thin" placeholder="请输入仓库名称" type="text"/>
        <button ng-click="vm.goSearch()" class="pull-right search-button"><i class="fa fa-search" />搜索</button>
    </div>
    <!-- main -->
    <div ng-if="vm.isViewList">
        <div class="m-l m-r m-t panel panel-default">
        <table  st-table="vm.displayedCollection" st-safe-src="vm.items" class="table table-bordered table-striped table-hover bg-white text-center">
            <thead>
            <tr class="font-bold">
               <!-- <th class="text-center">{{'login.USERNAME' | T}}</th>-->
                <th class="text-center">地址</th>
                <th class="text-center">经度</th>
                <th class="text-center">纬度</th>
                <th class="text-center">仓库编码</th>
                <th class="text-center">云箱总数</th>
                <th class="text-center">云箱可用数</th>
               <!-- <th class="text-center">{{'u.OPERATE' | T}}</th>-->
            </tr>

            </thead>
            <tbody class="">

            <tr ng-repeat="item in vm.displayedCollection">
                <td ng-click="vm.goDetail(item)">{{item.location}}</td>
               <td ng-click="vm.goDetail(item)">{{item.longitude}}</td>
                <td ng-click="vm.goDetail(item)">{{item.latitude}}</td>
                <td ng-click="vm.goDetail(item)">{{item.site_code}}</td>
                <td ng-click="vm.goDetail(item)">
                    <label  ng-bind="item.allCurrentBoxInfo.allNum" class="label bg-finished"></label>
                </td>
                <td ng-click="vm.goDetail(item)">

                    <label  ng-bind="item.allCurrentBoxInfo.availableNum" class="label bg-success"></label>
                </td>

                <td>
                    <button class="btn btn-sm btn-info btn-addon" style="width: 80px" ng-click="vm.goDetail(item)"><i class="fa fa-eye"></i>详情</button>

                </td>
            </tr>

            </tbody>
        </table>
        </div>
        <div data-ng-include=" 'app/main/blocks/pageflip.html' " >
        </div>

    </div>


    <div ng-if="!vm.isViewList">
        <div class="m-l m-r m-t panel panel-default">
            <div class="warehouse-grid inline" ng-class="'warehouse-grid-bg-'+$index" ng-repeat="item in vm.displayedCollection">
                <div class="title">{{item.location}}</div>
                <div class="middle-info">
                <div class="specs">可用/总数</div>
                <div class="num">{{item.allCurrentBoxInfo.availableNum + '/' + item.allCurrentBoxInfo.allNum}}</div>
                </div>

                <div class="pull-right pull-bottom right-info">
                <div class="location ">{{item.latitude+'/'+item.longitude}}</div>
                <div class="address ">{{item.location}}</div>
                </div>
            </div>
        </div>
        <div data-ng-include=" 'app/main/blocks/pageflip.html' " >
        </div>

    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div ng-include="'app/components/core/modal.html'"></div>
</script>