<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="EditWarehouseController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
                    <span us-spinner spinner-on="vm.showSpinner"></span>


                <div class="warehouse-guide-bar">
                    <a href class="auto" ui-sref="app.warehouse">
                        <span class="title" ><u><b>仓库管理</b></u></span>
                    </a>
                        <span>></span>

                         <span class="name">{{vm.user.name.length > 10 ? vm.user.name.substr(0,10)+'...':vm.user.name}}</span>
                    <span class="location-detail">{{(vm.user.latitude >= 0 ? '北纬':'南纬') + parseFloat(vm.user.latitude).toFixed(2) +'°'  + '/'+(vm.user.longitude >= 0 ? '东经':'西经') + parseFloat(vm.user.longitude).toFixed(2)+'°'}}</span>
                    <span class="location">地址：{{vm.user.location.length > 15 ? vm.user.location.substr(0,15)+'...':vm.user.location}}</span>

                </div>

                     <div class="panel panel-default   ">
                            <div id="map-div" style="height: 300px;width: 100%; z-index:555;"></div>
                    </div>
                    <div class="warehouse-detail-card-banner m-l m-r m-b">
                        <div class="warehouse-detail-card warehouse-detail-card-0">
                            <div class="title">
                                云箱可用数/总数
                            </div>
                            <div class="num">
                                {{vm.user.allCurrentBoxInfo.availableNum}}/{{vm.user.allCurrentBoxInfo.allNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + (vm.user.allCurrentBoxInfo.allNum == 0 ? 0 :(vm.user.allCurrentBoxInfo.availableNum> vm.user.allCurrentBoxInfo.allNum?100:100*vm.user.allCurrentBoxInfo.availableNum/vm.user.allCurrentBoxInfo.allNum))+'%'}}" >

                                </div>
                            </div>
                        </div>

                        <div ng-repeat="item in vm.allInfo.box_counts" class="warehouse-detail-card" ng-class="'warehouse-detail-card-'+(item.box_type.id%5 + 1)">
                            <div class="title">
                                {{item.box_type.box_type_name}}可用数/总数
                            </div>
                            <div class="num">
                                {{item.ava_num-item.reserve_num}}/{{item.ava_num}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + (item.ava_num-item.reserve_num==0 ? 0:(item.ava_num-item.reserve_num> item.ava_num?100:100*(item.ava_num-item.reserve_num)/(item.ava_num)))+'%'}}" >

                                </div>
                            </div>
                        </div>



                        <!--<div class="warehouse-detail-card warehouse-detail-card-2">
                            <div class="title">
                                冷冻箱可用数/总数
                            </div>
                            <div class="num">
                                {{vm.user.coolerBoxInfo.availableNum}}/{{vm.user.coolerBoxInfo.allNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + (vm.user.coolerBoxInfo.allNum==0 ? 0:(vm.user.coolerBoxInfo.availableNum> vm.user.coolerBoxInfo.allNum?100:100*vm.user.coolerBoxInfo.availableNum/vm.user.coolerBoxInfo.allNum))+'%'}}" >

                                </div>
                            </div>
                        </div>
                        </ng-repeat>
                        <div class="warehouse-detail-card warehouse-detail-card-3">
                            <div class="title">
                                医药箱可用数/总数
                            </div>
                            <div class="num">
                                {{vm.user.medicalBoxInfo.availableNum}}/{{vm.user.medicalBoxInfo.allNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + (vm.user.medicalBoxInfo.allNum==0 ? 0:(vm.user.medicalBoxInfo.availableNum> vm.user.medicalBoxInfo.allNum?100:100*vm.user.medicalBoxInfo.availableNum/vm.user.medicalBoxInfo.allNum))+'%'}}" >

                                </div>
                            </div>
                        </div>
                        <div class="warehouse-detail-card warehouse-detail-card-4">
                            <div class="title">
                                普通箱可用数/总数
                            </div>
                            <div class="num">
                                {{vm.user.ordinaryBoxInfo.availableNum}}/{{vm.user.ordinaryBoxInfo.allNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + (vm.user.ordinaryBoxInfo.allNum==0 ? 0:(vm.user.ordinaryBoxInfo.availableNum> vm.user.ordinaryBoxInfo.allNum?100:100*vm.user.ordinaryBoxInfo.availableNum/vm.user.ordinaryBoxInfo.allNum))+'%'}}" >

                                </div>
                            </div>
                        </div>
                        <div class="warehouse-detail-card warehouse-detail-card-5">
                            <div class="title">
                                特殊箱可用数/总数
                            </div>
                            <div class="num">
                                {{vm.user.specialBoxInfo.availableNum}}/{{vm.user.specialBoxInfo.allNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + (vm.user.specialBoxInfo.allNum==0 ? 0:(vm.user.specialBoxInfo.availableNum> vm.user.specialBoxInfo.allNum?100:100*vm.user.specialBoxInfo.availableNum/vm.user.specialBoxInfo.allNum))+'%'}}" >

                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="m-l m-r panel panel-default">
                        <table  st-table="vm.warehouseHistory" st-safe-src="vm.warehouseHistory" class="table  table-striped table-hover bg-white text-center">
                            <thead>
                            <tr class="font-bold">
                                <!-- <th class="text-center">{{'login.USERNAME' | T}}</th>-->
                                <th class="text-center">时间</th>
                                <th class="text-center">总转入/转出</th>
                                <!--<th class="text-center">冷藏箱转入/转出</th>
                                <th class="text-center">冷冻箱转入/转出</th>
                                <th class="text-center">医药箱转入/转出</th>
                                <th class="text-center">普通箱转入/转出</th>
                                <th class="text-center">特殊箱转入/转出</th>-->
                                <th class="text-center" ng-repeat="item in vm.allName">
                                            {{item}}转入/转出
                                </th>
                                <!-- <th class="text-center">{{'u.OPERATE' | T}}</th>-->
                            </tr>

                            </thead>
                            <tbody class="">

                            <tr ng-repeat="item in vm.warehouseHistory">
                                <td ng-click="vm.goDetail(item)">{{item.date}}</td>




                                <td ng-click="vm.goDetail(item)">{{item.inputAll}}/{{item.outputAll}}</td>


                                <td ng-repeat = "itemName in vm.allName" ng-click="vm.goDetail(item)">
                                    {{item[itemName].input}}/{{item[itemName].output}}
                                </td>


                                <!--<td ng-click="vm.goDetail(item)">{{item.inputFreezer}}/{{item.outputFreezer}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.inputCooler}}/{{item.outputCooler}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.inputMedical}}/{{item.outputMedical}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.inputOrdinary}}/{{item.outputOrdinary}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.inputSpecial}}/{{item.outputSpecial}}</td>-->

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div data-ng-include=" 'app/main/blocks/pageflip.html' " >
                    </div>



</div>

