<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="EditWarehouseController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
">
    <!-- main -->
                    <span us-spinner spinner-on="vm.showSpinner"></span>


                <div class="warehouse-guide-bar">
                    <a href class="auto" ui-sref="app.warehouse">
                        <span class="title" ><u><b>仓库管理</b></u></span>
                    </a>
                        <span>></span>

                         <span class="name">{{vm.user.name}}</span>

                        <span class="location">地址：{{vm.user.location}}</span>
                </div>

                     <div class="panel panel-default   ">
                            <div id="map-div" style="height: 300px;width: 100%; z-index:555;"></div>
                    </div>
                    <div class="warehouse-detail-card-banner m-l m-r m-b">
                        <div class="warehouse-detail-card warehouse-detail-card-0">
                            <div class="title">
                                云箱总数/可用数量
                            </div>
                            <div class="num">
                                {{vm.user.allCurrentBoxInfo.allNum}}/{{vm.user.allCurrentBoxInfo.availableNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + 100*vm.user.allCurrentBoxInfo.availableNum/vm.user.allCurrentBoxInfo.allNum+'%'}}" >

                                </div>
                            </div>
                        </div>
                        <div class="warehouse-detail-card warehouse-detail-card-1">
                            <div class="title">
                                冷藏箱总数/可用数量
                            </div>
                            <div class="num">
                                {{vm.user.freezerBoxInfo.allNum}}/{{vm.user.freezerBoxInfo.availableNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + 100*vm.user.freezerBoxInfo.availableNum/vm.user.freezerBoxInfo.allNum+'%'}}" >

                                </div>
                            </div>
                        </div>
                        <div class="warehouse-detail-card warehouse-detail-card-2">
                            <div class="title">
                                冷冻箱总数/可用数量
                            </div>
                            <div class="num">
                                {{vm.user.coolerBoxInfo.allNum}}/{{vm.user.coolerBoxInfo.availableNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + 100*vm.user.coolerBoxInfo.availableNum/vm.user.coolerBoxInfo.allNum+'%'}}" >

                                </div>
                            </div>
                        </div>
                        <div class="warehouse-detail-card warehouse-detail-card-3">
                            <div class="title">
                                医药箱总数/可用数量
                            </div>
                            <div class="num">
                                {{vm.user.medicalBoxInfo.allNum}}/{{vm.user.medicalBoxInfo.availableNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + 100*vm.user.medicalBoxInfo.availableNum/vm.user.medicalBoxInfo.allNum+'%'}}" >

                                </div>
                            </div>
                        </div>
                        <div class="warehouse-detail-card warehouse-detail-card-4">
                            <div class="title">
                                普通箱总数/可用数量
                            </div>
                            <div class="num">
                                {{vm.user.ordinaryBoxInfo.allNum}}/{{vm.user.ordinaryBoxInfo.availableNum}}
                            </div>
                            <div class="progress-all-bar">
                                <div class="progress-percent-bar" style="{{'width:' + 100*vm.user.ordinaryBoxInfo.availableNum/vm.user.ordinaryBoxInfo.allNum+'%'}}" >

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-l m-r panel panel-default">
                        <table  st-table="vm.warehouseHistory" st-safe-src="vm.warehouseHistory" class="table table-bordered table-striped table-hover bg-white text-center">
                            <thead>
                            <tr class="font-bold">
                                <!-- <th class="text-center">{{'login.USERNAME' | T}}</th>-->
                                <th class="text-center">时间</th>
                                <th class="text-center">总转入</th>
                                <th class="text-center">总转出</th>
                                <th class="text-center">冷藏箱转入</th>
                                <th class="text-center">冷藏箱转出</th>
                                <th class="text-center">冷冻箱转入</th>
                                <th class="text-center">冷冻箱转出</th>
                                <th class="text-center">医药箱转入</th>
                                <th class="text-center">医药箱转出</th>
                                <th class="text-center">普通箱转入</th>
                                <th class="text-center">普通箱转出</th>
                                <!-- <th class="text-center">{{'u.OPERATE' | T}}</th>-->
                            </tr>

                            </thead>
                            <tbody class="">

                            <tr ng-repeat="item in vm.warehouseHistory">
                                <td ng-click="vm.goDetail(item)">{{item.date}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.inputAll}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.outputAll}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.inputFreezer}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.outputFreezer}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.inputCooler}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.outputCooler}}</td>

                                <td ng-click="vm.goDetail(item)">{{item.inputMedical}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.outputMedical}}</td>

                                <td ng-click="vm.goDetail(item)">{{item.inputOrdinary}}</td>
                                <td ng-click="vm.goDetail(item)">{{item.outputOrdinary}}</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div data-ng-include=" 'app/main/blocks/pageflip.html' " >
                    </div>



</div>

