<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}" ng-controller="AsideController as vm" style="background-color: #4668E7;">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <div class="navbar-brand text-lt " >
        <!--<i class="fa fa-btc"></i>-->
        <img class="header-img" src="http://ozv4m1lo0.bkt.clouddn.com/assets/images/logo-cloud.png" alt=".">
        <span class="hidden-folded m-l-xs " style="letter-spacing:3px;">{{vm.title}}</span>
    </div>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" ng-controller="AsideController as vm">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
  <!--      <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
        </a>-->
    </div>
    <!-- / buttons -->

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right dropdown">
        <li class="dropdown">
            <a href class="dropdown-toggle clear" data-toggle="dropdown" id="dropdownProfile" style="padding:0px 15px;position: relative;top:5px;">
              <span class="thumb-sm avatar " style="height:40px;">
                <img ng-src="{{avatarUrl}}" alt="..." style="height:100%">
               <!-- <i class="on md b-white bottom"></i>-->
              </span>
              <span class="hidden-sm hidden-md">{{vm.infomation.username}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeIn w">

                <li>
                    <a ui-sref="app.profile">个人信息</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="vm.logoutAction()">退出</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
