<div>

    <div class="btn-group pagination pull-right padder-lg" >

        <button type="button" class="btn btn-default" ng-click="vm.goPage(1)" ng-disabled= !vm.pagePreEnabled>First Page</button>
        <button type="button" class="btn btn-default" ng-click="vm.preAction()" ng-disabled= !vm.pagePreEnabled>Previous</button>
        <button type="button" class="btn btn-default" ng-repeat="page in vm.pages" ng-click="vm.goPage(page)" ng-disabled= vm.pageCurrentState(page)>{{page}}</button>
        <button type="button" class="btn btn-default" ng-click="vm.nextAction()" ng-disabled= !vm.pageNextEnabled>Next</button>
        <button type="button" class="btn btn-default" ng-click="vm.goPage(vm.totalPages)" ng-disabled= !vm.pageNextEnabled>Last Page</button>

        <div class="pull-right"><input type="number" placeholder="{{vm.pageCurrent}}" min="1" max="{{vm.totalPages}}" ng-model="vm.tagretPage" >
            <button type="button"  class="btn btn-default" ng-click="vm.goPage(vm.targetPage)">GoTo</button>
        </div>
</div>
</div>