<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ProfileController as vm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">


        <!--content-->
        <div class="wrapper bg-light">
            <div class="panel panel-default">



                <div class="panel panel-default m-l m-r m-t">

                    <div class="panel-heading">
                        <h3 class="panel-title">用户信息</h3>
                    </div>
                    <br/>
                    <form name="form" class="form-horizontal form-validation" role="form">

                        <div class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">用户名</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text"
                                       placeholder="用户名" ng-model="vm.user.user_name" name="user_name"  required ng-disabled="true">
                            </div>
                            <span class="blank-tips" ><i>* </i><i ng-show="form.user_name.$invalid">请输入用户名</i></span>
                        </div>
                        <div class="line line-dashed b-b line-lg"></div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">真实姓名</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text"
                                       placeholder="真实姓名" ng-model="vm.user.user_real_name"  name="user_real_name" ng-disabled="vm.isDetail" required>
                            </div>
                            <span class="blank-tips" ><i>* </i><i ng-show="form.user_real_name.$invalid">请输入真实姓名</i></span>
                        </div>
                        <div class="line line-dashed b-b line-lg"></div>


                        <div  ng-if="vm.isAdd" class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">密码</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="password"
                                       placeholder="密码" ng-model="vm.user.user_password"  name="user_password" ng-minlength="5" required>
                            </div>
                            <span class="blank-tips" ><i>* </i><i ng-show="form.user_password.$invalid">请输入密码，长度至少为5位</i></span>
                        </div>
                        <div  ng-if="vm.isAdd" class="line line-dashed b-b line-lg"></div>


                        <div class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">头像</label>
                            <div class="col-sm-4">
                                <div class="beauty-upload">
                                    <div class="lcell span5" style="margin:5px 0px;">
                                        <div class="upload">
                                            <input type="button" class="btn btn-default " value="浏览文件"></input>
                                            <label  ng-bind="vm.myUploadFile.name" class="label bg-finished"></label>
                                            <input type="file" file-model = "vm.myUploadFile" class="upload-input-file" />
                                        </div>
                                        <button class="btn btn-default btn-upload" ng-click="vm.uploadFile()"> <i class="fa fa-check-circle"></i> 上传 </button>
                                    </div>

                                </div>
                                <input class="form-control" type="text" style="margin-bottom:10px;"
                                       placeholder="例如：http://www.abc.com/a.png" ng-model="vm.user.avatar_url" name="avatar_url" ng-disabled="vm.isDetail" required>
                                <div class="img-preview">
                                    <img ng-src="{{vm.user.avatar_url}}" alt="">
                                </div>
                            </div>
                            <span class="blank-tips pic-blank-tips" ><i>* </i><i ng-show="form.avatar_url.$invalid">请输入合法的头像路径</i></span>

                        </div>
                        <div  class="line line-dashed b-b line-lg"></div>





                        <div  class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">角色</label>
                            <div class="col-sm-4">

                                <select class="form-control font-thin" ng-model="vm.user.role" ng-options="opt.value as opt.title for opt in vm.userRole" ng-disabled=true ></select>

                                <!--
                                                        <label class="bg-success label" ng-bind="vm.labelContent[vm.user.role]"></label>
                                -->
                            </div>
                        </div>
                        <div  class="line line-dashed b-b line-lg"></div>


                        <div  class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">群组</label>
                            <div class="col-sm-4">

                                <select class="form-control font-thin" ng-model="vm.user.group" ng-options="opt.value as opt.title for opt in vm.userGroup" ng-disabled=true ></select>

                                <!--<label class="bg-success label" ng-bind="vm.labelGroupContent[vm.user.group]"></label>-->
                            </div>
                        </div>
                        <div  class="line line-dashed b-b line-lg"></div>



                        <div  class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">联系电话</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text"
                                       placeholder="联系电话" ng-model="vm.user.user_phone" ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/" name="user_phone" ng-disabled="vm.isDetail">
                            </div>
                            <span class="blank-tips" ><i>* </i><i ng-show="form.user_phone.$invalid">请输入合法的联系电话</i></span>

                        </div>
                        <div  class="line line-dashed b-b line-lg"></div>



                        <div class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">邮箱</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="email"
                                       placeholder="邮箱" ng-model="vm.user.user_email" name="user_email" ng-disabled="vm.isDetail">
                            </div>
                            <span class="blank-tips" ><i>* </i><i ng-show="form.user_email.$invalid">请输入合法的企业邮箱</i></span>

                        </div>
                        <div  class="line line-dashed b-b line-lg"></div>


                        <!--<div class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">所属企业</label>
                            <div class="col-sm-4">
                                <select style="width: 100%;" class="form-control font-thin" ng-model="vm.user.enterprise_id" ng-options="opt.enterprise_id as opt.enterprise_name for opt in vm.companyInfo" ng-disabled="vm.isDetail" ></select>

                            </div>

                        </div>
                        <div  class="line line-dashed b-b line-lg"></div>-->


                       <!-- <div ng-if="!vm.isAdd" class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">状态</label>
                            <div class="col-sm-4">

                                <label style="position: relative;top:4px;" ng-class="vm.labelColor[vm.user.status]" ng-bind="vm.labelContent[vm.user.status]" class="label"></label>


                            </div>
                        </div>
                        <div ng-if="!vm.isAdd" class="line line-dashed b-b line-lg"></div>-->




                        <div ng-if="vm.isDetail" class="form-group">
                            <label class="col-sm-1 control-label m-l-lg font-bold">创建日期</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text"
                                       placeholder="创建日期" ng-model="vm.user.register_time" ng-disabled="vm.isDetail" >
                            </div>

                        </div>
                        <div ng-if="vm.isDetail" class="line line-dashed b-b line-lg"></div>






                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-3">
                                <button  class="btn btn-default btn-sm m-l-lg btn-addon bg-light" ng-click="vm.cancelAction()"> <i class="fa fa-ban text-danger"></i>取消 </button>
                                <button  class="btn btn-sm btn-info btn-addon" type="submit" ng-click="vm.submitAction()" ng-disabled='form.$invalid'> <i class="fa fa-check-circle"></i>确认 </button>
                            </div>
                        </div>






                    </form>
                </div>
            </div>
        </div>



    </div>
</div>

