


  .siteoverview-head{
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 10;
    background: #FFFFFF;

  }




  .siteoverview-head .right-search {
    position: relative;
    float: right;
    .search-icon {
      position: absolute;
      margin-left: 125px;
      margin-top: 1.5px;
      border: none;
      background-color: transparent;
  
    }

}


.marker-title{
  color:black; 
  text-align:center;
  width:230px; 
  height: 120px;
}




.marker-cold-box{
  color:#fff;
  font-size:13px;
  font-weight:bold;
  width:43px;
  height:43px;
  margin:3px;
  padding:3px 5px;
  background-color:#2aabd2;
}




.marker-cold-box-containeroverview {

  color:#fff;
  font-size:15px;
  font-weight:bold;
  width:50px;
  height:50px;
  margin:3px;
  padding:3px 5px;
  background-color:#2aabd2;

}


.marker-freeze-box-containeroverview{
  color:#fff;
  font-size:15px;
  font-weight:bold;
  width:50px;
  height:50px;
  margin:3px;
  padding:3px 5px;
  background-color:#0000FF;
}


  .marker-freeze-box{
    color:#fff;
    font-size:13px;
    font-weight:bold;
    width:43px;
    height:43px;
    margin:3px;
    padding:3px 5px;
    background-color:#0000FF;
  }

  .marker-box-number{
    font-size:10px;
    position: relative;
    left:1px;
    top:-5px;
  }




 /*.maker-all-box-type{
    margin-left:calc(~"25%");
  }*/




/* <div style=" color:black; text-align:center;width:230px; height: 120px;">'+
                                        '<div style="color:black;">'+
                                        '<strong>'+'<h4>'+ displayedWarehouseAddress+ vm.displayedWarehouse[i].name+'</h4>'+'</strong>'+
                                      '</div>'+

                                   

                           /* .box-add-type-line{
                                margin:5px 20px;
                            
                              }
                              .box-add-type-icon{
                                background-color: #00b3ee;
                                font-size:14px;
                                color:#fff;
                                width:45px;
                                height:45px;
                                padding:5px 5px;
                            
                              }
                            */

/*

.siteoverview



                            <div style = " margin:10px 10px; width:200; height:50px; display:inline-block;">

                            <div style="background-color:#00b3ee;color:#fff; width:45px;height:45px; padding:5px 5px; ">
                               <strong> "云箱数量"</strong>
                            </div>

                            <div>+vm.displayedWarehouse[i].allCurrentBoxInfo.availableNum + '/' +vm.displayedWarehouse[i].allCurrentBoxInfo.allNum+
                           " 可用／总数"
                            </div>

                        </div>

                        <div id="address">
                            vm.displayedWarehouse[i].location
                        </div>
                    </div>




         <div class="maker-title inline">
                  
                    <div class="maker-title-header" style="color:black;">
                              <strong><h4>displayedWarehouseAddress+ vm.displayedWarehouse[i].name</h4></strong>
                    </div>


                    <div class="box-type ">
                        <div class="cold-box inline">
                            冷藏云箱
                        </div>
                        <div class="box-number inline">
                            X1
                        </div>
                
                        <div class="freeze-box inline">
                            冷冻云箱
                        </div>
                        <div class="box-number inline">
                            X1
                        </div>

                    </div>

         </div>

*/