
/*
    Page: register and login
*/

/*html {
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
}

body {
    background-color: rgba(255, 255, 255, 0);
}*/
.form-box {
  //width: 360px;
  //margin:0 auto;
  margin: 90px auto 0 auto;
}
.form-box .header {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /*   background: #3d9970; */
  /* background: #3c8dbc !important; */
  background: #61a9eb !important;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}
.form-box .body,
.form-box .footer {
  padding: 10px 20px;
  background: #fff;
  color: #444;
}
.form-box .body > .form-group,
.form-box .footer > .form-group {
  margin-top: 20px;
}
.form-box .body > .form-group > input,
.form-box .footer > .form-group > input {
  border: #fff;
}
.form-box .body > .btn,
.form-box .footer > .btn {
  margin-bottom: 10px;
}
.form-box .footer {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn.btn-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.dropdown-menu {
  //width: 100px;
  min-width: 10px;
  z-index:10000;
  position:absolute;
  /*position:relative;*/
  /*height: 400px !important;*/
}




.modal-dialog{
  position: absolute;
  left: 60%;
  /* now you must set a margin left under zero - value is a half width your window */
  margin-left: -312px;
  /* this same situation is with height - example */
  height: 500px;
  top: 50%;
  margin-top: -150px;
  text-align:center;

}

/*
.dropDownDisable{
    disabled;
}
*/
.dropdown-menu > .disabled > a{
  pointer-events: none;
}
li.disabled{
  pointer-events: none;
}




.form-control[disabled], fieldset[disabled] .form-control {
  cursor:default;
  background-color: #fff;
}





.myfile-upload{
  //display: inline;
  width:50px;
}
.fileinput-button {
  position:absolute;
  display: inline-block;
}

.fileinput-button  div{
  position:absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
}

.fileinput-button input{

  position:absolute;
  display: inline-block;
  left: 0px;
  top: 0px;

}

.bg-finished {
  background-color: #1e2cd0;
  color: #fffefa;
}

.bg-published {
  background-color: #99d81e;
  color: #fffefa;
}
.bg-main {
  background-color: #23b7e5;
  color: #fffefa;
}
.bg-created {
  background-color: #1bd8c5;
  color: #fffefa;
}
.login-bgdd{

  &:before{
    content: "";
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-color: @body-bg;
    background: url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/bgnn.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: block;
  }
}

.login-bg{


  content: "";
  width: 100%;
  left: 0px;
  top: 0px;
  bottom: 0;
  position: absolute;
  background-color: @body-bg;
  background: url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/bg_login.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.img-preview{
  width:200px;
  height:150px;

}
.img-preview img{
  width:100%;
  height:100%;
}


.table-bordered > tbody > tr > td{
  vertical-align: middle;
}
/*

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/
.spinner {
  position: fixed !important;
}
.btn-group {
  margin-left:4px;
}
.font-view-color {
  color: #23b7e5;
}



.tab-platform{


  position: relative;
  top: 32px;
  margin: 0 auto;
  width: 98%;
}
.tab-platform ul{
  font-size:0px;
  margin:0;
  padding:0;
  list-style: none;
  /* background-color: #fff;*/
  display:inline-block;
  border-bottom: 1px solid #ddd;
  border-bottom:none;
  position: relative;
  top:-8px;
}

.tab-platform li{
  font-size:14px;
  margin:0px 3px;
  list-style: none;
  display:inline-block;
  /*border: 1px solid #ddd;
  border-bottom:none;*/
  border:none;
}
.tab-platform li a{
  padding:10px 15px;

}
/*.config-platform li a:focus{

    border: 1px solid #ddd;
    border-bottom:none;
    background-color: #fff!important;
}*/

.tab-active{

  border: 1px solid #ddd;
  border-bottom:none;
  background-color: #fff!important;
}

.tab-platform li a:hover{
  border-color: #dee5e7;
  background-color: #dee5e7;
}

.tab-platform .tab-container{

  border:solid 1px #dee5e7;
  border-top-width: 0;
  background-color: #fff;
  border-top:none;
  width:85%;
  //height:520px;
  margin-left: 3px;

}

.plat-mgr{
  /*
  background-color: #aaa;
  */
  width:100%;
  height:100%;
  position: relative;
  top:5px;
}
.div-zone{
  width:100%;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  padding: 10px 60px;
}
.div-line{
  width:100%;
  padding: 5px 0px;
}
.div-inline{
  display:inline-block;
}
.div-padding{
  padding:2px 5px;
}
.div-input{
  border-style: none;
  border-radius: 4px;
  height: 32px;
  border: 1px solid #ccc;
  padding:2px 5px;
  width:60px;
}
.div-input-w{
  border-style: none;
  border-radius: 4px;
  height: 32px;
  border: 1px solid #ccc;
  padding:2px 5px;
}
.div-input:focus{

  border-color: #66afe9;
  outline: 0;

}
.div-width-4{
  width:40%;
  display:inline-block;
}
.div-width-5{
  width:50%;
  display:inline-block;
}

.div-width-2{
  width:20%;
  display:inline-block;
}
.div-width-3{
  width:30%;
  display:inline-block;
}
.div-width-1{
  width:10%;
  display:inline-block;
}


.div-width-10{
  width:100%;
  display:inline-block;
}


.div-width-6{
  width:60%;
  display:inline-block;
}


.div-width-7{
  width:70%;
  display:inline-block;
}


.div-width-8{
  width:80%;
  display:inline-block;
}


.div-width-9{
  width:90%;
  display:inline-block;
}
.div-label{
  font-size: 18px;
  font-weight: bold;
  padding-left: 36px;
  padding-top: 10px;
}
.div-spec{
  font-size: 13px;
  color: #8e8c8c;
  margin-top: 5px;
}

.degree-input-group  > span > span > input{
  border-radius: 7px;
  /* border-style: none; */
  border: solid 1px;
  padding:0px;
  padding-left:6px;
  height:34px;
}
.degree-input-group > span > span > select {
  border: solid 1px;
}
.degree-input-group  > input{
  height: 34px;
  width: 125px;
  margin-right: 118px;
  margin-left: -5px;
  border: 1px solid;
  border-radius: 7px;
  padding-left:10px;

}
.input-inline{
  display:inline-block;
}






.top-button{
  vertical-align: middle;
  border-radius: 8px;
  height: 40px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}

.add-button{
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #4668E7;
  letter-spacing: 0;
  line-height: 18px;
  border: 1px solid #4668E7;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  background-color: #fff;
}
.right-search {
  position: relative;
  float: right;
  .search-icon {
    position: absolute;
    margin-left: 4px;
    margin-top: 35px;
    border: none;
    background-color: transparent;

  }

}

.search-button{
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #4668E7;
  letter-spacing: 0;
  line-height: 18px;
  border: 1px solid #4668E7;
  border-radius: 8px;
  width: 80px;
  height: 40px;
  background-color: #fff;
  margin:0px 5px;
}



.search-edit{
  background: #F7F7F7;
  border-radius: 8px;
  width: 230px;
  height: 40px;
  border-style: none;
  padding:0px 0px 0px 16px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  margin-right:44px;
  margin-top:26px;
  padding-left:30px;
}

.bg-finished {
  background-color: #1e2cd0;
  color: #fffefa;
}

.bg-published {
  background-color: #99d81e;
  color: #fffefa;
}
.bg-main {
  background-color: #23b7e5;
  color: #fffefa;
}
.bg-created {
  background-color: #1bd8c5;
  color: #fffefa;
}
.label-pos{
  top: 5px;
  position: relative;
}

.map-panel{
  background: #ffffff;
  padding: 10px 0px;
  //border: solid 1px;
  //border-radius: 8px;
}

.zone-title{
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0px 5px 30px;
}

.warehouse-head {
  background: #FFFFFF;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  height:91px;
  margin:15px 15px;
}


.inline{
  display: inline-block;
}
.warehouse-head .title{
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: #5080D2;
  letter-spacing: 0;
  position: relative;
  top: 29px;
  left: 35px;
}

.warehouse-head .view-type{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #4668E7;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  left:51px;
  top:25px;
  margin-left:14px;
  color:#000;
}

.warehouse-head .search-button{
  margin-top: 23px;
}


.warehouse-head .bg-selected{
  color:#4668E7;
}

.warehouse-head .bg-unselected{
  color:#000;
}
.warehouse-head .icon-m-r{
  margin-right: 4px;
}

.warehouse-grid-bg-0{
  background-image: linear-gradient(0deg, rgba(124,161,245,0.61) 0%, #4668E7 100%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_01.png);
}

.warehouse-grid-bg-1{
  background: linear-gradient(0deg, rgba(146,124,245,0.61) 2%, #765EDE 98%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_02.png);
}
.warehouse-grid-bg-2{
background-image: linear-gradient(0deg, rgba(231,151,237,0.61) 0%, #C245A4 100%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_03.png);
}
  .warehouse-grid-bg-3{
background-image: linear-gradient(0deg, rgba(196,131,133,0.61) 0%, #EF5F5F 100%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_04.png);
  }
    .warehouse-grid-bg-4{
background-image: linear-gradient(0deg, rgba(124,216,245,0.61) 0%, #46B2D3 100%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_01.png);
    }
      .warehouse-grid-bg-5{
background-image: linear-gradient(0deg, rgba(97,205,166,0.61) 0%, #20BE97 100%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_02.png);
      }
        .warehouse-grid-bg-6{
background-image: linear-gradient(0deg, rgba(136,214,83,0.61) 0%, #92C742 98%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_03.png);
        }
          .warehouse-grid-bg-7{
background-image: linear-gradient(0deg, rgba(245,235,124,0.61) 0%, #EF9318 100%),url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/warehouse_bg_04.png);
          }

.warehouse-grid{
  //background-image: linear-gradient(0deg, rgba(146,124,245,0.61) 2%, #765EDE 98%);
  border-radius: 8px;
  width: 250px;
  height:250px;
  margin:15px;
  padding-left: 13px;
  color:#000;
  overflow:hidden;
  display: inline-block;
}

.warehouse-grid .title{
  font-family: PingFangSC-Regular;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0;
  position: relative;
  margin-top:22px;

}
.warehouse-grid .specs{
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 12px;

}

.warehouse-grid .num{
  font-family: PingFangSC-Semibold;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 48px;
  margin-top:2px;
}


.warehouse-grid .location{
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  display:block;
  float:right;
  margin-right:20px;
  margin-top:7px;


  bottom: -22px;
  position: relative;


}

.warehouse-grid .address{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  display:block;
  float:right;
  margin-right:20px;
  position: relative;
  bottom: -29px;
}

.middle-info{
  position: relative;
  top:55px;
}
.warehouse-grid .right-info{
  position: relative;
  bottom: -76px;
  left: -22px;

}


.warehouse-detail-card-banner{
  opacity: 0.89;
  //background: #f0f3f4;
  border-radius: 4px;
  //height:150px;
  padding-left:0px;

}
.warehouse-detail-card-0 {
  background: #F57644;
}
.warehouse-detail-card-1 {
  background: #756AE6;
}
.warehouse-detail-card-2 {
  background: #539ADF;
}
.warehouse-detail-card-3 {
  background: #89C100;
}
.warehouse-detail-card-4 {
  background: #46B2D3;
}
.warehouse-detail-card-5 {
  background: #9AD0A5;
}
.warehouse-detail-card{

  border-radius: 8px;
  width:150px;
  height:100px;
  display:inline-block;
  margin-top:19px;
  margin-bottom: 17px;
  margin-left:20px;

}

.warehouse-detail-card .title{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top: 8px;
  margin-left:8px;

}



.warehouse-detail-card .num{
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top:6px;
  margin-left:8px;

}
.warehouse-detail-card .progress-all-bar{
  background: #d8d8d8;
  border-radius: 8px;
  width:135px;
  margin-top:15px;
  margin-left:8px;
  height:5px;
}

.warehouse-detail-card .progress-percent-bar{
  background: #fff;
  border-radius: 8px;
  width:60%;
  height:5px;

}



.warehouse-guide-bar{
  position: absolute;
  width: 60%;
  margin-left: 42px;
  /* margin-right: 59px; */
  height: 63px;
  background-color: #fff;
  z-index: 999;
  top: 78px;
  border-radius: 8px;
  span {

    /* margin-top: 11px; */
    position: relative;
    top: 16px;
    font-size: 22px;
  }

}
.warehouse-guide-bar .title{
  margin-left: 30px;

}

.warehouse-guide-bar a{
  color: #999999;
}
.warehouse-guide-bar a:hover{
  color: #000;
}
.warehouse-guide-bar .name{
  font-family: PingFangSC-Medium;
  font-size: 22px;
  color: #5080D2;
  letter-spacing: 0;
}
.warehouse-guide-bar .location{
  font-size:16px;
  float:right;
  margin-right:10px;
  position: relative;
  top:20px;

  font-family: PingFangSC-Regular;
  color: #666666;
  letter-spacing: 0;
}

.warehouse-guide-bar .location-detail{
  font-size:16px;
  float:right;
  margin-right:10px;
  position: relative;
  top:20px;

  font-family: PingFangSC-Regular;
  color: #666666;
  letter-spacing: 0;
}



.company-title{
  display: inline-block;
  margin: 8px 16px 0px 3px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;

}




.container-head {
  background: #FFFFFF;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  height:91px;
  margin:15px 15px;
}



.login-all{
  background: url(http://ozv4m1lo0.bkt.clouddn.com/assets/images/bg_login_left.png) no-repeat;
  background-size: cover;
  //border:solid 1px;
  overflow:hidden;
  height:538px;
  width:772px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left: -386px;
  margin-top: -269px;
  display: block;
  //margin: 0 auto;

  .login-right{
    width:360px;
    height:429px;
    display: inline-block;
    border-radius: 0px 12px 12px 0px;

   float:right;
    float: right;
    position: relative;
    left: -59px;
    top: 59px;
    width: 325px;
    height: 420px;

    padding-left:60px;

    .title{
      font-family: PingFangSC-Medium;
      font-size: 24px;
      color: #4668E7;
      letter-spacing: 1.6px;
      margin-top:72px;
    }
    .name-label{
      opacity: 0.4;
      font-family: PingFangSC-Semibold;
      font-size: 12px;
      color: #1D1D26;
      letter-spacing: 0.86px;
      line-height: 10px;
      margin-top:22px;
    }
    .input-user{
      display:block;
      border-style:none;
      margin-top:12px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #1D1D26;
      letter-spacing: 0;
      -webkit-box-shadow: 0 0 0px 100px #f9f9f9 inset;
      border-bottom: solid 1px;
    }

    .password-label{
      opacity: 0.4;
      font-family: PingFangSC-Semibold;
      font-size: 12px;
      color: #1D1D26;
      letter-spacing: 1px;
      margin-top:20px;

    }


    .input-password{
      display:block;
      border-style:none;
      margin-top:12px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #1D1D26;
      letter-spacing: 0;
      -webkit-box-shadow: 0 0 0px 100px #f9f9f9 inset;
      border-bottom: solid 1px;
    }
    .login-button{
      background: #FFFFFF;
      border: 2px solid #4668E7;
      border-radius: 40px;
      width:140px;
      height:40px;
      margin-left:32px;
      margin-top:30px;
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #4668E7;
      letter-spacing: 1.5px;
    }
  }
}



.add-enterprise-button {
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #4668E7;
  letter-spacing: 0;
  line-height: 18px;
  border: 1px solid #4668E7;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  background-color: #fff;
  margin-left:41px;
  margin-top:26px;
}

.warehouse-detail-button{
  display: inline-block;
  background: #4668E7;
  border-radius: 8px;
  width: 60px;
  height: 31px;
  font-family: PingFangSC-Regular;
  line-height: 31px;
  color: #ffffff;
  letter-spacing: 0;
  border:none;
}



.oper-group{
  text-align:center;
  position: relative;
  top: -3px;
  left: -3px;
}
.transport-company-oper-button{
  display: inline-block;
  background: #4668E7;
  border-radius: 8px 0px 0px 8px;
  width: 60px;
  color: #fff;
  font-family: PingFangSC-Regular;
  line-height: 31px;
  height: 31px;
  text-align: center;
  border: none;
  position: relative;
}


.transport-company-oper-button-dropdown{
  background: #4668E7;
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  height: 31px;
  position: absolute;
  left: 60px;
  top:0px;
  border: none;
  display: inline-block;
}
.dashboard{
  html, body{ margin:0; height:100%; }
  height:100%;

}